.main{
    display: flex;
    justify-content: 'center';
    align-items: 'center';
    padding-top: 100px;
    /* padding-bottom: 100px; */
    margin-top: 0px;
    /* padding: 100px 100px 100px 100px; */
}

.table{
    margin-top: 200px;
    margin-right: 150px;
    /* white-space: 0; */
    /* align-items: center; */
    
}

tr{
    /* margin: 50px 50px 50px 50px; */
    padding: 10px
}

.Card{
    padding: 10px;
}